.popup{
    position: absolute;
    width: 300px;
    left: 50%;
    top: 35%;
    margin-left: -150px;
    background: white;
    min-height: 200px;
    display: none;
    background: url('../img/ui/popup.png') no-repeat;
    background-size:cover;
    color: white;
    font-family: sans-serif;
    padding: 30px;
}
.popup button{
    position: absolute;
    bottom: 50px;
    right: 40px;
}
button{
    background: url('../img/ui/popup.png');
    color: white;
    padding: 10px;
    font-family: sans-serif;
    background-size:cover;
    border: none;
}
body{
    margin: 0;
    padding: 0;
}